.relicario-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: none!important;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; 
 
}