@use '../../../styles/palette' as palette;
.relic-page {
  .relic-card .relic-content{
    align-items: center;
    .relic-image-container {
      flex: 0 0 auto;      
      max-width: 300px;
      margin-right: 20px;
      img {
        width: 100%;
        min-width: 200px;
        height: auto;
        border-radius: 8px;
      }
    }
  }
  
  .relic-image {
    max-width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  .relic-info {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    width: 100%;
    .relic-title {
      color: palette.$primary-main;
      text-align: left;
      margin-left: 1em;
    }
    .relic-details {
    list-style: none;
    text-align: left;
    padding-inline-start: 1em;
      li {
        margin-bottom: 8px;
        font-size: 14px;
        color: #555;
      }
    }
    .relic-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      flex-direction: column;
      .message-owner-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
        button {
          width: 100%;
          max-width: 200px;
          margin-top: 10px;
        }
      }
    }

  }
  
}