$primary-main: #48182f;
$primary-light: #6e324a;
$primary-dark: #2f0f1d;
$primary-contrast-text: #ffffff;

$secondary-main: #d4cbc4;
$secondary-light: #f0e9e2;
$secondary-dark: #b0a8a1;
$secondary-contrast-text: #131313;

$success-main: #2e7d32;
$success-light: #4caf50;
$success-dark: #1b5e20;

$error-main: #d32f2f;
$error-light: #ef5350;
$error-dark: #c62828;

$warning-main: #ed6c02;
$warning-light: #ff9800;
$warning-dark: #e65100;

$info-main: #0288d1;
$info-light: #03a9f4;
$info-dark: #01579b;

$background-default: #f0f4f5;
$background-primary: #dadada;
$background-paper: #ffffff;

$text-primary: #131313;
$text-secondary: #dadada;