.favourites-page {
  padding: 20px;  
  max-width: 1200px;
  margin: 0 auto;
  .relic-item {    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .relic-image {
        width: 100px;
        height: 150px; 
        margin-right: 1em;
        cursor: pointer;
    }

    .relic-data {
      display: flex;
    }
    .relic-actions {
      display: flex;
      button {
        margin-right: 1em;
      }
    }
  }

}